doctype html
head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    link(rel="stylesheet", href="/stylesheets/main.css")
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css")
    title Pagina Pincipal

.nav
  .dropdown
      button.dropbtn  #{usuario.username}    
      .dropdown-content
          a(class="cont")
            form.col-12(action="irLogin"  method='POST')
              input(type='hidden'  name="Id" value= usuario.IdUsuario) 
              button(class="btnMenu")  Mi Perfil                        
          a(class="cont")
            form.col-12(action="irLogin"  method='GET')
              input(type='hidden'  name="Id" value= usuario.IdUsuario) 
              button(class="btnMenu")  LogOut   
  .dropdown
    form.col-12(action="verListaCentrosCosto"  method='POST')
      input(type='hidden'  name="Id" value= usuario.IdUsuario) 
      button.dropbtn Centros de Costos   
  .dropdown
    form.col-12(action="verListaFranquicias"  method='POST')
      input(type='hidden'  name="Id" value= usuario.IdUsuario) 
      button.dropbtn Franquicias
  .dropdown
    form.col-12(action="verListaEmpresas"  method='POST')
      input(type='hidden'  name="Id" value= usuario.IdUsuario) 
      button.dropbtn Empresas
  .dropdown
    form.col-12(action="verListaTipoUnidad"  method='POST')
      input(type='hidden'  name="Id" value= usuario.IdUsuario) 
      button.dropbtn Tipos de Unidad  
  .dropdown
    form.col-12(action="verListaUsuarios"  method='POST')
      input(type='hidden'  name="Id" value= usuario.IdUsuario) 
      button.dropbtn Usuarios    
       
br
br
br

#main-container
  label(class="lblListaUnidades" ) Lista de Unidades
  
  br
  br

  form.col-12(action="buscarUnidad"  method='POST' name="Id")
    input( placeholder = 'Referencia' class="textBuscar" name="textBuscar") 
    button(type="submit" class="btnBuscar" ) Buscar

  br
  br

  table
    thead      
      tr
        th UDN
        th Nombre
        th Status
        th Estado
        th Ciudad
        th Tipo unidad
        th Gerente
        th Telefono
        th Accion               
    tbody        
    each cc in centroCosto      
      tr
        td= cc.UDN   
        td= cc.nombreCentroCosto   
        if cc.status == true        
          td Avtivo
        else  
          td Inactivo
        td= cc.estado
        td= cc.ciudad
        td= cc.nombreTipo
        td= cc.nombreGerente
        td= cc.telefono           
        td
          form.col-12(action="verUnidad"  method='POST')
            input(type='hidden' value= cc.UDN   name="UDN")
            button(type="submit" class="btnVerUnidad" ) Ver unidad  

        

