doctype html
head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    link(rel="stylesheet", href="/stylesheets/main.css")
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css")
    title Pafina Pincipal

.nav
  .dropdown
      button.dropbtn  #{usuario.username}    
      .dropdown-content
          a(class="cont")
            form.col-12(action="irLogin"  method='GET')
              input(type='hidden'  name="Id" value= usuario.IdUsuario) 
              button(class="btnMenu")  Mi Perfil                        
          a(class="cont")
            form.col-12(action="irLogin"  method='GET')
              input(type='hidden'  name="Id" value= usuario.IdUsuario) 
              button(class="btnMenu")  LogOut   
  .dropdown
    form.col-12(action="verListaCentrosCosto"  method='POST')
      input(type='hidden'  name="Id" value= usuario.IdUsuario) 
      button.dropbtn Centros de Costos   
  .dropdown
    form.col-12(action="verListaFranquicias"  method='POST')
      input(type='hidden'  name="Id" value= usuario.IdUsuario) 
      button.dropbtn Franquicias
  .dropdown
    form.col-12(action="verListaEmpresas"  method='POST')
      input(type='hidden'  name="Id" value= usuario.IdUsuario) 
      button.dropbtn Empresas
  .dropdown
    form.col-12(action="verListaTipoUnidad"  method='POST')
      input(type='hidden'  name="Id" value= usuario.IdUsuario) 
      button.dropbtn Tipos de Unidad  
  .dropdown
    form.col-12(action="verListaUsuarios"  method='POST')
      input(type='hidden'  name="Id" value= usuario.IdUsuario) 
      button.dropbtn Usuarios    
       
br
br
br





#main-container
  label(class="lblListaUnidades" ) Lista de usuarios
  br
  br
  form.col-12(action="buscarUnidad"  method='POST' name="Id")
    input( placeholder = 'Buscar...' class="textBuscar" name="textBuscar") 
    button(type="submit" class="btnBuscar" ) Buscar
  br
  br
  table
    thead(class="p")
      
      tr
        th Id
        th Nombre        
        th A. Patterno
        th A. Materno
        th Telefono
        th Mail
        th Tipo
        th Status
        th Accion

               
    tbody        
    each lu in listaUsuarios      
      tr
        td= lu.IdUsuario
        td= lu.admin           
        td= lu.paterno
        td= lu.materno
        td= lu.telefono
        td= lu.mail
        if lu.tienePrivilegios == true
          td Administrador
        else 
          td Normal          
        if lu.status == true
          td Activo
        else  
          td Inactivo               
        td
          form.col-12(action="verUnidad"  method='POST')
            input(type='hidden' value= lu.IdUsuario   name="UDN")
            button(type="submit" class="btnVerUnidad" ) Ver usuario         

        

