doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    title Centro de costo
    link(rel='stylesheet' href='/stylesheets/unCentroCosto.css')
  body
    header.header
      .container
        .btn-menu
          label(for='btn-menu') ☰
        .logo
          h1 Administrar
        nav.menu
          a 
            form(action="verListaCentrosCosto"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
              button(type="submit" class="btnMenu") Inicio
          a
            form(action="miPerfil"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
              button(type="submit" class="btnMenu") Mi perfil
          a 
            form(action="enConstruccion"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
              button(type="submit" class="btnMenu") Acerca de          
          a
            form(action="irLogin"  method='GET')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
              button(type="submit" class="btnMenu") LogOut
    .capa
    // -------------
    input#btn-menu(type='checkbox')
    .container-menu
      .cont-menu
        nav
          a
            form(action="verListaEmpresas"  method='POST')
              input(type='hidden' value= usuario.IdUsuario  name="IdUsuario")
              button(type="submit" class="btnMenu") Empresas
          a 
            form(action="verListaFranquicias"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
              button(type="submit" class="btnMenu") Franquicias
          a 
            form(action="verListaTipoUnidad"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
              button(type="submit" class="btnMenu") Tipos de Unidades
          a 
            form(action="verListaCentrosCosto"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario") 
              button(type="submit" class="btnMenu") Centros de Costo
          a 
            form(action="verListaUsuarios"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario") 
              button(type="submit" class="btnMenu") Usuarios
  
        label(for='btn-menu') ✖️



.container2
  form(action="enConstruccion" method='POST')
    input(type='hidden' value= centroCosto.idCentroCosto   name="IdCentroCosto") 
    h3 Informacion del centro de costo
    .row
      .col-half
        h4 UDN
          .input-group.input-group-icon
            input(type="text", value = centroCosto.UDN , placeholder="UDN")
            .input-icon
              i.fa.fa-user

        h4 Empresa
        .input-group 
          select
            option(class="opt" value = centroCosto.IdEmpresa) #{centroCosto.nombreEmpresa} 
            each e in listaEmpresas 
              option(class="opt" value = e.IdEmpresa) #{e.nombreEmpresa} 

        h4 Tipo Unidad
        .input-group 
          select
            option(class="opt" value = centroCosto.IdTipoUnidad) #{centroCosto.nombreTipo} 
            each t in listaTipoUnidades 
              option(class="opt" value = t.IdTipoUnidad) #{t.nombreTipo}

        h4 Gerente
          .input-group.input-group-icon
            input(type="text",  value = centroCosto.nombreGerente , placeholder="Nombre Gerente")
            .input-icon
              i.fa.fa-envelope

        h4 Telefono
          .input-group.input-group-icon
            input(type="text",  value = centroCosto.telefono , placeholder="Telefono Centro de Costo")
            .input-icon
              i.fa.fa-envelope


      .col-half
        h4 Nombre Centro de Costo
          .input-group.input-group-icon
            input(type="text",  value = centroCosto.nombreCentroCosto , placeholder="Nombre Centro de Costo")
            .input-icon
              i.fa.fa-envelope
        
        h4 Franquicia
          .input-group 
            select
              option(class="opt" value = centroCosto.IdFranquicia) #{centroCosto.nombreFranquicia} 
              each f in listaFranquicias 
                option(class="opt" value = f.IdFranquicia) #{f.nombreFranquicia} 
        h4 Status
        .input-group 
          select
            if centroCosto.status == true
              option(class="opt" value = centroCosto.status) Activo
              option(class="opt" value = flase) Inactivo
            else 
              option(class="opt" value = empresa.status) Inactivo 
              option(class="opt" value = true) Activo
        
        h4 SubGerente
          .input-group.input-group-icon
            input(type="text",  value = centroCosto.nombresubGerente , placeholder="Nombre SubGerente")
            .input-icon
              i.fa.fa-envelope   

        h4 Email Gerente
        .input-group.input-group-icon
          input(type="email",  value = centroCosto.mailGerente,  placeholder="Email")
          .input-icon
            i.fa.fa-key 
                          
    
    .row
      
      .input-group
        //input(type="checkbox", id="terms")
        //label(for="terms" style="font-size: 80%;") Acepto los términos y condiciones de Softlife, y confirmo que he leído las políticas de privacidad. 
        br
        input(type="submit", value="Guardar" class="brnGuardar")
        for(action="enConstruccion" method='POST')            
          input(type="submit", value="Nuevo" class ="brnNuevo")

//direccion contenedor
.container2
  form(action="enConstruccion" method='POST')
    input(type='hidden' value= usuario.IdUsuario   name="IdUsuario") 
    h3 Informacion de Direccion centro de costo
    .row
      .col-half
        h4 Estado
          .input-group.input-group-icon
            input(type="text", value = centroCosto.estado , placeholder="Estado")
            .input-icon
              i.fa.fa-user
        h4 Colonia
          .input-group.input-group-icon
            input(type="text",  value = centroCosto.colonia , placeholder="Colonia")
            .input-icon
              i.fa.fa-envelope
        h4 Direccion

      .col-half
        h4 Ciudad
            .input-group.input-group-icon
              input(type="text",  value = centroCosto.ciudad , placeholder="Ciudad")
              .input-icon
                i.fa.fa-envelope

         
      .input-group.input-group-icon
        input(type="text",  value = centroCosto.direccion,  placeholder="Direccion")
        .input-icon
          i.fa.fa-key 

      

    .row 
      .col-half
        h4 Numero Exterior
        .input-group.input-group-icon
          input(type="text",  value = centroCosto.numeroExterior,  placeholder="Numero Exterior")
          .input-icon
            i.fa.fa-key 

        h4 codigo Postal
          .input-group.input-group-icon
            input(type="text",  value = centroCosto.CP , placeholder="Codigo Postal")
            .input-icon
              i.fa.fa-envelope
        
        
      .col-half
        h4 Numero Interior
          .input-group.input-group-icon
            input(type="text",  value = centroCosto.numeroInterior , placeholder="Numero Interior")
            .input-icon
              i.fa.fa-envelope
   
    .row
      
      .input-group
        //input(type="checkbox", id="terms")
        //label(for="terms" style="font-size: 80%;") Acepto los términos y condiciones de Softlife, y confirmo que he leído las políticas de privacidad. 
        br
        input(type="submit", value="Guardar" class="brnGuardar")
        for(action="enConstruccion" method='POST')            
          input(type="submit", value="Nuevo" class ="brnNuevo")

